#gratis{
    background-color: rgb(173, 170, 170);
}
#gratis1{
    background-color: white;
}
.blog{
    display: flex;
    padding-top: 40px;
justify-content: space-between;
    &-text{
        
        h2{
            color: red;

        }
        h3{
            padding-top: 10px;
            width: 390px;
            font-weight: bold;
        }
        h4{
            padding-top: 20px;
            width: 480px;
            font-size: 15px;
        }
        button{
            padding-top: 40px;
            color: red;
            align-items: center;
            display: flex;
            gap: 10px;
            padding-bottom: 50px;
        }
    }
    &-photo{
        width: 500px;
        margin-top: -40px;
    }
}
#last{
    background-color: rgb(221, 221, 221);
}
.last{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    gap: 200px;
    h2{
        color: white;
        background-color: black;
        width: 110px;
        padding-top: 3px;
        
        padding-left: 6px;
    }
    h3{
        color: red;
        background-color: black;
        width: 50px;
        padding-top: 3px;
        padding-top: 3px;
        padding-left: 6px;
    }
    h4{
        color: white;
        background-color: black;
        width: 90px;
        padding-top: 4px;
        padding-bottom: 3px;
        padding-left: 6px;
    }
    &-form{
        
       &-wrap{
        display: flex;
        align-items: center;
        gap: 100px;
       
        p{
            color: rgb(175, 175, 171);
            font-size: 11px;
        }
        input{
            width: 400px;
            border: 0.1px black solid ;
            border-radius: 2px;
        }
       }
       &-email{
        padding-top: 10px;
        color: rgb(175, 175, 171);
            font-size: 11px;
           input{
            border-radius: 2px;
            border: 0.1px black solid ;
            padding: 3px;
            width: 900px;
           }

       }
       &-btn{
        margin-top: 20px;
        display: flex;
        justify-content: center;
       button{
        width: 130px;
        background-color: red;
        color: white;
       
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 5px;
        border-radius: 3px;
        padding-right: 5px;
       }
       
       }
    }
}