.corusel-wrap {
    margin-bottom: 100px;
  
    h2 {
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(34, 114, 218);
      padding-top: 20px;
      padding-bottom: 40px;
    }
  }
  
  .carousel-content {
    position: relative;
    text-align: center;
  
    .carousel-image {
      width: 100%;
      height: auto;
      border-radius: 10px;
      transition: transform 0.3s ease;
  
      &:hover {
        transform: scale(1.05);
      }
    }
  
    .carousel-video {
      width: 100%;
      height: auto;
      border-radius: 10px;
      display: none; // Initially hidden
  
      &:hover {
        transform: scale(1.05);
      }
    }
  
    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      color: rgb(86, 179, 251);
      border: none;
      border-radius: 50%;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;
      
      :hover{
       color: rgb(26, 88, 244);
      }
    }
  
    .playing .carousel-image {
      display: none;
    }
  
    .playing .carousel-video {
      display: block;
    }
  }
  