.header {
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.header-wrap {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &-logo {
        display: flex;
        align-items: center;
        gap: 10px;

        a {
            display: flex;
            align-items: center;
            img {
                width: 50px;
            }
        }

        p {
            font-size: 24px;
            color: #4570c4;
            font-weight: bold;
        }
    }

    .header-ul {
        display: flex;
        align-items: center;
        gap: 20px;

        .header-link {
            display: flex;
            gap: 15px;

            a {
                font-size: 16px;
                color: #333;
                text-decoration: none;
                transition: color 0.3s;

                &:hover {
                    color: #4570c4;
                }
            }
        }
    }

    .header-btn {
        padding: 10px 20px;
        background-color: #4570c4;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        a {
            color: #fff;
            text-decoration: none;
        }

        &:hover {
            background-color: #365899;
        }
    }
}
.header-btn {
    display: none; /* Hide by default */
}

@media (max-width: 768px) {
    .responsive-btn {
        display: inline-block; /* Display on smaller screens */
    }

    .header-link {
        display: none; /* Hide navigation links on smaller screens */
    }
}
