.product-container {
  padding: 20px 20px 30px 20px;
  border-radius: 2px;
}

.product-section-title {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #444;
}

.product-section-subtitle {
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 15px;
  color: #019acc;
}

.product-card {
  .product-card-cover {
    position: relative;

    .product-card-img {
      width: 100%;
      border-radius: 8px;
      object-fit: cover;
    }

    .product-card-title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #ffffff;
      padding: 10px;
      border-radius: 0 0 8px 8px;

      .product-card-title-text {
        color: #fff;
      }
    }
  }
  
  .product-card-hover-content {
    .product-card-description {
      font-size: 14px;
      color: #666;
      margin: 10px 0;
    }

    .product-card-button {
      background-color: #ffffff;
      color: #fff;
      border: none;
     
    }
  }
}
.modal-content {
  display: flex;
  height: 100%;
}

.modal-images {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  padding: 20px;
  background-color: #f0f0f0;
}

.modal-img {
  width: 80%;
  height: 300px;
  margin: 10px 0;
}

.modal-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  padding: 20px;
}

.modal-description .ant-typography {
  margin-bottom: 20px;
}
