.contact-page {
  padding: 20px;
  background-color: #f0f2f5;
}

.contact-page  {
  h1{
    display: flex;
    font-size: larger;
    text-align: center;
    margin-bottom: 5px;
    color: #393939;
  }
  h2{
  display: flex;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: #1890ff;
  }
  
  
}


.contact-info {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
}

.info-block {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;

  display: flex;
  align-items: center;
  gap: 8px; 
  min-width: 200px; 
}

.info-block .icon {
  font-size: 24px;
  color: #1890ff;
}

.contact-form, .map {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.contact-form h2 {
  margin-bottom: 24px;
  color: #1890ff;
}

.map iframe {
  border-radius: 8px;
  border: none;
  height: 100%; 
}
