
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .intro {
      flex-direction: column;
      text-align: center;
  
      .intro-text,
      .intro-image {
        width: 100%;
        padding: 0;
      }
  
      .intro-image {
        margin-top: 20px;
        text-align: center;
      }
    }
  }
  


.about {
background-color: #ffffff;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;

  h1 {
    color: #019acc;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  p {
    color: #3e3d3d;
    font-size: 1.125rem;
    margin-bottom: 40px;
    line-height: 1.6;
  }

  &-card-grid {
    display: block; 
    margin: 0 auto;
    max-width: 1200px; 
   
  
    &-wrap {
      display: flex;
      align-items: center; 
      margin-bottom: 40px;
      background: #f9f9f9; 
      border-radius: 8px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      overflow: hidden;
     
  
      img {
        width: 600px;
        height: 350px;
        object-fit: cover; 
        border-radius: 5px; 
        
      }
  h3{
    margin-top: 0px;
    padding-left: 40px;
    text-align : left;
    color: #019acc;
    font-size: 24px;
    margin-bottom: 0px;

  }
      h2 {
        text-align : left;
        display: block;
        justify-content: flex-start;
        align-items: flex-start;
        width: 600px;
        font-size: 16px;
        color: #333;
        margin: 0; 
        padding-bottom: 0px;
        padding-top: 10px;
      }
    }
  
    &-wrap:nth-child(2) {
      flex-direction: row-reverse; 
      
      img {
        margin-right: 0;
        margin-left: 20px; /* Matn va rasm orasidagi bo'shliq o'ng tomonga ko'chirildi */
      }
    }
  }


}



.cards {
  padding: 40px;
  background-color: #f9f9f9;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;

  &-wrap {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: calc(33.33% - 20px);
    max-width: 400px;
    display: flex;
    
    align-items: center; /* Center align the content vertically */
    gap: 15px; /* Add some space between image and content */

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    }

    img {
      width: 100px;
      height: 100%;
      object-fit: cover;
      align-self: flex-start;
    }

    .card-content {
      padding: 20px;
      flex-grow: 1;
      h2 {
        padding: 0px;
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
      }
      p {
        font-size: 14px;
        color: #666;
        line-height: 1.6;
      }
    }
  }
}


